<div>
  <form [formGroup]="registerForm">
    email: <input type="text" formControlName="email"><br>
    password: <input type="text" formControlName="password"><br>
    <button (click)="registerAccount()">register</button>
  </form>
  <hr>
  <form [formGroup]="loginForm">
    email: <input type="text" formControlName="email"><br>
    password: <input type="text" formControlName="password"><br>
    <button (click)="loginAccount()">login</button>
    <button (click)="logoutAccount()">logout</button>
  </form>
  <hr>
  <div (click)="loginWithGooglePopUp()" class="google-popup">Login with Google Popup Window</div>
  <hr>
  <div (click)="loginWithGoogleRedirect()" class="google-redirect">Login with Google Redirect</div>
  <hr>
  <form [formGroup]="addNewBookForm">
    bookName: <input type="text" formControlName="bookName"><br>
    bookCategory: <input type="text" formControlName="bookCategory"><br>
    bookPrice: <input type="number" formControlName="bookPrice"><br>
    <button (click)="addNewBook()">Add new book</button>
  </form>
  <hr>
  <button (click)="getAllBooks()">Get all books</button>
  <hr>
  <button (click)="getAllBooksFromCache()">Get all books from cache</button>
  <hr>
  <button (click)="getSpecificBook()">Get specific books</button>
  <hr>
  <button (click)="updateExistingBook()">Update existing book</button>
  <hr>
  <button (click)="deleteExistingBook()">Delete existing book</button>
  <hr>
  <input type="file" (change)="getFileObject($event)"><br>
  <div (click)="uploadFile()" class="upload-class">upload file</div>
  <hr>
  <button (click)="disableFirestoreConnect()">disable firestore connect</button>
  <button (click)="enableFirestoreConnect()">enable firestore connect</button>
  <hr>
  <button (click)="insertChunkOfData()">insert some records to books collection</button>
  <button (click)="getDocsFromServerTest()">get docs from server test time</button>
</div>
