.google-popup {
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: blue;
    font-weight: bold;
  }
}

.google-redirect {
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: blue;
    font-weight: bold;
  }
}

.upload-class {
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: blue;
    font-weight: bold;
  }
}

.upload-class-1 {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

  &:hover {
    color: red;
    font-weight: bold;
  }
}
